/*
**********
COMMON
**********
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/*
**********
Utilities
**********
*/

.ldv-bg-darkblue{
    background-color: #2c3e50;
    width: 100%;
}

.ldv-pd-right-left{
    padding:2px;
}

.ldv-bg-lightgreen{
    background-color: #1abc9c;
}

.ldv-tc-lightgreen{
    color: #1abc9c;
}

.ldv-bg-darkblue2{
    background-color: #3a546d;
}

.col-8 img {
  display: block;
  max-width: 100%;
  height: auto;
}

#star::before{
    content: "";
    background-color: white;
    display: inline-block;
    border-radius: 25%;
    height: 4px;
    width: 100px;
    margin-bottom: 5px;
}

#star::after{
    content: "";
    background-color: white;
    display: inline-block;
    border-radius: 25%;
    height: 4px;
    width: 100px;
    margin-bottom: 5px;
}
#star-b{
    color:#2c3e50;
}

#star-b::before{
    content: "";
    background-color: #2c3e50;
    display: inline-block;
    border-radius: 25%;
    height: 4px;
    width: 100px;
    margin-bottom: 5px;
}

#star-b::after{
    content: "";
    background-color: #2c3e50;
    display: inline-block;
    border-radius: 25%;
    height: 4px;
    width: 100px;
    margin-bottom: 5px;
}